/* Single Product */
.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.product-details img {
    width: 40%;
    transform: scale(0.5);

}

.product-details h2 {
    font-size: 1.5vw;
    padding-bottom: 2%;

}

.product-details p {
    padding: 0 5vw;
    font-size: 1.2vw;
    padding-bottom: 1vw;
}

.product-details button {

    position: relative;
    top: 0;
    left: 0;
    font-size: 1.5vw;
}

.star {
    color: orange;
}

#cart-total h3 {
    font-size: 2vw;
}

.search {
    display: flex;
    position: relative;
    left: 15%;
}

.search button {
    position: relative;
    left: -4%;
    width: 2vw;
    font-size: 1.2vw;
    color: black;
    background-color: white;
    border: none;
    ;

}

.search input {
    padding-left: 2%;
    font-size: 1.2vw;
    width: 30vw;
    height: 5vh;
    border: none;
    outline: none;
}

