* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}


.contact {
    z-index: 1;
    position: relative;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: #112d42;
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;

}

.contact .container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.contact .container .contactinfo {
    position: absolute;
    top: 75px;
    width: 350px;
    margin-left: 165px;
    height: calc(70% - 80px);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.contact .container .contactinfo h2 {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.contact .container .contactinfo .info {
    position: relative;
    list-style: none;
}

.contact .container .contactinfo .info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.contact .container .contactinfo .info li span {
    font-family: 'Ubuntu', sans-serif;
}

.contact .container .contactinfo .info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.contact .container .contactinfo .info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

.contact .container .contactinfo .info li span:nth-child(2) {
    color: white;
    margin-left: 10px;
    font-weight: 300;
}

.contact .container .contactinfo .info li:hover span:nth-child(1) img,
.contact .container .contactinfo .info li:hover span:nth-child(2) {
    opacity: 1;
}

.contact .container .contactinfo .social {
    position: relative;
    display: flex;
}

.contact .container .contactinfo .social li {
    list-style: none;
    margin-right: 15px;
}

.contact .container .contactinfo .social li a {
    text-decoration: none;
}

.contact .container .contactinfo .social li a img {
    filter: invert(1);
    opacity: 0.5;
}

.contact .container .contactinfo .social li:hover a img {
    opacity: 1;
}

.contact .container .contactForm {
    position: absolute;
    padding: 68px 82px;
    background: white;
    margin-left: 335px;
    top: 35px;
    padding-left: 250px;
    width: calc(82% - 340px);
    height: 60%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);

}

.contact .container .contactForm h2 {
    color: #0f3959;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 500;
}

.contact .container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
    padding-top: 30px;
}

.contact .container .contactForm .formBox .inputBox {
    position: 0 0 35px 0;
    padding-top: 5px;
}

.contact .container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.contact .container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.contact .container .contactForm .formBox .inputBox input,
.contact .container .contactForm .formBox .inputBox textarea {
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.contact .container .contactForm .formBox .inputBox textarea {
    min-height: 70px;
}

.contact .container .contactForm .formBox .inputBox span {
    position: relative;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    color: #333;
    transition: 0.3s;
    pointer-events: none;
}

.contact .container .contactForm .formBox .inputBox input:focus~span,
.contact .container .contactForm .formBox .inputBox textarea:focus~span,
.contact .container .contactForm .formBox .inputBox input:valid~span,
.contact .container .contactForm .formBox .inputBox textarea:valid~span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}

.contact .container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: white;
    border: none;
    max-width: 100px;
    padding: 10px;
}

.contact .container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: #ff568c;
}

/*    Contact Section Ends     */

/* Navbar start */

#main {
    z-index: 1000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12vh;
    width: 100%;
}



#navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 10vh;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;

}

.logo {
    font-family: "Whisper", cursive;
    color: white;
    font-size: 2vw;
    align-items: center;
    text-wrap: nowrap;
}

.logo a {
    text-decoration: none;
    color: white;
}

.nav-items {
    padding-left: 15%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav-items ul {
    display: flex;
    list-style: none;
    font-size: 1.2vw;
    gap: 5vw;
    margin: 0;
}

.nav-items a {
    font-family: "Lora", serif;
    color: white;
    text-decoration: none;
}

.nav-items a:hover {
    border: 2px solid white;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 3vw;
    padding-right: 7%;
}

.navbar-icons a {
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
    position: relative;
    /* Make the cart icon a positioning context for the count */
}

#cart-count {
    position: absolute;
    top: -30%;
    right: -1.2vw;
    /* Adjust color as needed */
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 1.2vw;
    font-weight: bold;
    /* Adjust position to align correctly with the cart icon */
}

/* Footer */

#footer {
    background-color: #222222;
    width: 100%;
    height: 67vh;
    text-align: center;
    color: white;
}

.foot p {
    font-family: "Whisper", cursive;
    font-size: 2vw;
    padding: 5vh;
}

.icons2 {
    display: flex;
    justify-content: center;
    gap: 20%;
    padding-top: 2vw;
}

.icons2 i {
    font-size: 2vw;
    border: 7px solid orange;
    border-radius: 50%;
    padding: 10px;
    background-color: orange;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icons2 p {
    padding: 1vw;
    color: white;
    font-size: 1vw;
}

.footer-content {
    display: flex;
    gap: 20%;
    justify-content: left;
    padding-left: 10%;

}

.ul {
    font-size: 1.2vw;
    list-style: none;
    color: #ccc;
    padding-bottom: 10%;

}

.footer-content li {
    list-style: none;
    font-size: 1vw;
    cursor: pointer;
    color: grey;

}

.sub p {
    font-size: 1.2vw;
    padding-bottom: 10%;
}

.input-container {
    position: relative;
    width: 18vw;
    /* Adjust the width as needed */
}

.input-container input {
    width: 100%;
    padding-right: 3vw;
    /* Adjust padding to ensure space for the button */
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-size: 1vw;
    box-sizing: border-box;
    /* Ensures padding is included in the width */
}

.input-container button {
    position: absolute;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
    /* Centers the button vertically */
    background: none;
    border: none;
    padding: 0 10px;
    cursor: pointer;
}

.input-container button i {
    font-size: 1.2vw;
    padding-top: 2vh;
    /* Adjust size as needed */
    color: black;
}

.input-container p {
    padding: 1vw;
    font-size: 0.8vw;
}

.for-social {
    width: 96%;
    height: 10vh;
    background-color: #262726;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Ensures space between social icons and arrow */
    padding: 0 2%;
    /* Optional: Add padding to the sides */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2%;
    flex-grow: 1;
    /* Allows the social icons to take up space in the center */
}

.social-icons i {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
    padding: 1vw;
    background-color: #262726;
}

.arrow-right {
    cursor: pointer;
    font-size: 1.2vw;
    color: white;
    border-radius: 50%;
    border: 2px solid orange;
    padding: 1vw;
    background-color: orange;
}

.copyright {
    background-color: #262726;
    color: #808080;
    font-size: 0.9vw;
    padding-bottom: 1vw;
    justify-content: center;
}