@media screen and (max-width: 600px) {

    .search {
        display: none;
    }

    .Outernav {
        display: none;
    }

    .dropdown-btn {
        display: none;
    }

    .logo a {
        font-size: 6vw;
    }

    .hide {
        display: block;
    }

    .navbar-icons a {
        position: relative;
        left: -40%;
        font-size: 5vw;
        padding: 2vw;
    }

    .nav-items {
        position: fixed;
        top: 6%;
        right: -100%;
        height: 100vh;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.3s ease-in-out;

    }

    .nav-items ul li a {
        gap: 5%;
        font-size: 5vw;
        /* Larger font size for smaller screens */
    }

    .nav-items ul li {
        margin-bottom: 5vh;
    }

    #cart-count {
        position: relative;
        top: -2vh;
        left: 1vw;
    }

    #services {
        margin-top: -12%;
    }

    .icons {
        padding-left: 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
    }

    .icons p {
        font-size: 2vw !important;
    }

    #exclusive {
        margin-top: -8%;
    }

    #exclusive h4 {
        font-size: 5vw !important;
    }

    .product img {
        height: 20vh;
        width: 20vw;
    }

    #exclusive h3 {
        padding-top: 2vh;
        font-size: 3vw !important;
    }

    #products h4 {
        font-size: 5vw;
    }

    .product-items img {
        padding: 2vw !important;
    }

    #all-products {
        margin-top: -8%;
    }

    .product-details-content h2 {
        font-size: 3.2vw;
    }

    .product-details-content p {
        margin-top: 2%;
        font-size: 3.2vw;
    }

    .product-details-content span {
        color: orange;
    }

    .addtocartbtn {
        position: relative;
        font-size: 3.5vw;
    }

    .product-details-content button {
        width: 70%;
        bottom: 1%;
        height: 5vh;
    }

    #footer {
        margin-top: 0;
        /* Remove the negative margin */
        position: relative;
        /* Ensure the footer is relative to other content */
        padding-bottom: 10vh;
        /* Add padding to ensure content pushes the footer down */
    }

    .foot p {
        font-size: 5vw;
    }

    .icon-item i {
        font-size: 4vw;
    }

    .icon-item p {
        font-size: 2vw;
    }

    .footer-content p {
        padding-top: 4vh;
        font-size: 3vw;
    }

    .footer-content a {
        font-size: 2.5vw;
    }

    .sub p {
        padding-left: 6vw;
    }

    .input-container input {
        font-size: 3vw;
        width: 25vw;
    }

    .input-container button i {
        display: none;
    }

    .input-container .sub {
        display: block;
        position: relative;
        top: 2.5vh;
        left: 4vw;
        border: 2px solid white;
        color: white;

    }

    h6 {
        display: none;
    }

    #footer2 {
        height: auto;
    }

    .for-social {
        padding-top: 5%;
    }

    .arrow-up {
        font-size: 3vw;
        padding: 2%;
    }

    .social-icons a {
        text-decoration: none;
    }

    .social-icons i {
        width: 6vw;
        height: 4vh;
        padding: 1vw;
        font-size: 4vw;
        color: white;
        border-radius: 50%;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .copyright {
        font-size: 2.5vw;
    }

    #burger-menu {
        position: relative;
        left: 45vw;
        display: flex;

    }

    #navbar.active .nav-items {
        right: 0;
    }


    .contact::before {
        height: 100%;
    }

    .contactinfo {
        margin-top: -15%;
        left: -12%;

    }

    .contact {
        height: 130vh !important;
    }

    .contactForm2 {

        width: 90vw !important;
        height: 65vh;
        margin-top: 18%;
        margin-left: 5vw;
    }

    .contactForm2 h2 {
        font-size: 5vw;
        width: 100vw;
        position: relative;
        left: -55vw;
    }

    .formBox {
        position: relative;
        left: -55vw;
        height: 5vh;
        width: 50vw;
    }

    .formBox span {
        font-size: 3vw !important;
    }

    /* Single Page */

    .product-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-details img {
        position: relative;
        width: 90vw;
        height: 70vh;
    }

    .product-details h2 {
        font-size: 4vw;
    }

    .product-details p {
        padding-top: 2%;
        font-size: 3vw;
    }

    .product-details button {
        font-size: 3.5vw;
        width: 25vw;
        height: 5vh;
        margin-left: 15%;
    }

    /* Cart */

    .cart-header h2 {
        font-size: 5vw !important;

    }

    #close-cart {
        font-size: 12vw;
    }

    #cart-sidebar {
        width: 100%;
        right: -100%;
    }

    .cart-item img {
        height: 10vh !important;
        width: 15vw !important;
    }


    .quantity_increase button {
        font-size: 3vw;
        padding: 1.2vw;
    }

    #cart-total h3 {
        font-size: 4vw;
    }

    .buy button {
        font-size: 5vw;
        color: white;
    }

    /* checkout page */

    .checkout-container {
        display: block;
    }

    #checkout h1 {
        font-size: 10vw;
    }

    .topics {
        font-size: 3vw;
        margin-left: 5%;
    }

    #cart-products img {
        width: 18vw !important;
        margin-left: 5%;
    }

    #cart-products p {
        font-size: 2.5vw;
        margin-left: 22%;

    }

    .address label {
        font-size: 5vw;
    }

    .address-section {
        width: 90vw;
        margin-top: 10%;

    }

    .address-section input {
        font-size: 3vw;
    }

    .address-section h4 {
        font-size: 4vw;
    }

    .address-section button {
        font-size: 5vw;
    }


}


@media screen and (max-width: 600px) {
    .slideshow-container {
        height: 100%;
        padding-top: 6%;
    }

    .mySlides img {
        height: 35vh;
    }

}