@media screen and (max-width: 600px) {
    .search {
        display: none;
    }

    .hide-dropdown {
        display: block;
    }

    .Outernav {
        display: none;
    }

    .dropdown-btn {
        display: none;
    }

    .logo a {
        font-size: 6vw;
    }

    #burger-menu {
        position: relative;
        left: 41vw;
        display: flex;
    }

    #user-link {
        color: white;
        font-size: 5vw;
    }

    #navbar.active .nav-items {
        right: 0;
    }

    .navbar-icons a {
        position: relative;
        left: -12vw;
        font-size: 5vw;
        padding: 2vw;
    }

    .nav-items {
        position: fixed;
        top: 6.5%;
        right: -100%;
        height: 100vh;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.3s ease-in-out;
    }

    .nav-items ul {
        position: relative;
        top: -9%;
    }

    .nav-items ul li a {
        font-size: 5vw;

        /* Larger font size for smaller screens */
    }

    .nav-items ul li {
        margin-top: 5vh;
        /* margin-bottom: 2vh; */
        text-align: center;
    }

    #cart-count {
        position: relative;
        top: -2vh;
        left: 1vw;
    }

    #services {
        margin-top: -12%;
    }

    .icons {
        padding-left: 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
    }

    .icons p {
        font-size: 2vw !important;
    }



    /* Exclusive products */

    #exclusive {
        margin-top: -8%;
    }

    #exclusive h4 {
        font-size: 5vw !important;
    }

    .product img {
        height: 20vh;
        width: 20vw;
    }

    #exclusive h3 {
        padding-top: 2vh;
        font-size: 3vw !important;
    }

    #products h4 {
        font-size: 5vw;
    }

    .product-items img {
        padding: 2vw !important;
    }

    /* All products */

    #all-products {
        margin-top: -8%;
    }

    .product-details-content h2 {
        font-size: 3.2vw;
    }

    .product-details-content p {
        margin-top: 2%;
        font-size: 3.2vw;
    }

    .product-details-content span {
        color: orange;
    }

    .addtocartbtn {
        position: relative;
        font-size: 3.5vw;
    }

    .product-details-content button {
        width: 70%;
        bottom: 1%;
        height: 5vh;
    }

    /* Footer */
    #footer {
        margin-top: 0;
        /* Remove the negative margin */
        position: relative;
        /* Ensure the footer is relative to other content */
        padding-bottom: 10vh;
        /* Add padding to ensure content pushes the footer down */
    }

    .foot p {
        font-size: 5vw;
    }

    .icon-item i {
        font-size: 4vw;
    }

    .icon-item p {
        font-size: 2vw;
    }

    .footer-content p {
        padding-top: 4vh;
        font-size: 3vw;
    }

    .footer-content a {
        font-size: 2.5vw;
    }

    .sub p {
        padding-left: 6vw;
    }

    .input-container input {
        font-size: 3vw;
        width: 25vw;
    }

    .input-container button i {
        display: none;
    }

    .input-container .sub {
        display: block;
        position: relative;
        top: 2.5vh;
        left: 4vw;
        border: 2px solid white;
        color: white;

    }

    h6 {
        display: none;
    }

    #footer2 {
        height: auto;
    }

    .for-social {
        padding-top: 5%;
    }

    .arrow-up {
        font-size: 3vw;
        padding: 2%;
    }

    .social-icons a {
        text-decoration: none;
    }

    .social-icons i {
        width: 6vw;
        height: 4vh;
        padding: 1vw;
        font-size: 4vw;
        color: white;
        border-radius: 50%;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .copyright {
        font-size: 2.5vw;
    }

    /* Footer end  */


    /*  Only Cart side bar  */

    .cart-header h2 {
        font-size: 5vw !important;

    }

    .buy button {
        font-size: 5vw;
        color: white;

    }

    #close-cart {
        font-size: 12vw;
    }

    #cart-sidebar {
        width: 100%;
        right: -100%;
    }

    .cart-item img {
        height: 10vh !important;
        width: 15vw !important;
    }


    .quantity_increase button {
        font-size: 3vw;
        padding: 1.2vw;
    }

    #cart-total h3 {
        font-size: 4vw;
    }


    /* checkout page */

    .checkout-container {
        display: block;
    }

    #checkout h1 {
        font-size: 10vw;
    }

    .topics {
        font-size: 3vw;
        margin-left: 4%;

    }

    #cart-products img {
        width: 18vw !important;
        margin-left: 5%;
    }

    #cart-products p {
        font-size: 2.5vw;
        margin-left: 22%;

    }

    .address label {
        font-size: 5vw;
    }

    .address-section {
        width: 90vw;
        margin-top: 10%;

    }

    .address-section input {
        font-size: 3vw;
    }

    .address-section h4 {
        font-size: 4vw;
    }

    .address-section button {
        font-size: 5vw;
    }

    .select-address {
        padding: 2%;
    }

    .select-address label {
        font-size: 3vw;
    }

    .select-address input[type="radio"] {
        margin-left: -1.2vw;

    }

    #add-address {
        font-size: 3.6vw;
    }

    #dlt {
        display: none;
    }

    #address-list input[type="text"] {
        font-size: 3vw;
        width: 57vw;
    }

    #delicon {
        display: inline-block;
        cursor: pointer;
        color: white;
        font-size: 3vw;
    }

    /* User cart */

    .cart-entry-image {
        height: 10vh;
        width: 12vw;
    }

    .cart-entry-title {
        font-size: 3.5vw;
    }

    .cart-entry-quantity {
        font-size: 3.5vw;
    }

    .cart-entry-price {
        font-size: 3.2vw;
    }
}


/* Carousel */
@media screen and (max-width: 600px) {
    .slideshow-container {
        height: 100%;
        padding-top: 6%;
    }

    .mySlides img {
        height: 35vh;
    }

}