 @media screen and (max-width: 600px) {


     .logo a {
         font-size: 6vw;
     }

     .nav-items li {
         display: block;
     }

     .navbar-icons a {
         font-size: 4vw;
         padding: 2vw;
     }

     #cart-count {
         position: relative;
         top: -2vh;
         left: 1vw;
     }

     #user-link {
         padding-right: 15vw;
     }

     #services {
         margin-top: -20%;
     }

     .icons {
         padding-left: 10%;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         /* Creates two columns of equal width */
         grid-template-rows: repeat(2, auto);
         /* Creates two rows with automatic height based on content */
         gap: 20px;
         /* Optional: adds spacing between grid items */
     }

     .icons p {
         font-size: 2vw !important;
     }

     #exclusive {
         margin-top: -10%;
     }

     #exclusive h4 {
         font-size: 5vw !important;
     }

     .product img {
         height: 20vh;
         width: 20vw;
     }

     #exclusive h3 {
         padding-top: 2vh;
         font-size: 3vw !important;
     }

     #products h4 {
         font-size: 5vw;
     }

     #all-products {
         margin-top: -8%;
     }

     .product-details-content h2 {
         font-size: 3.2vw;
     }

     .product-details-content p {
         font-size: 3vw;
     }

     .product-details-content span {
         color: orange;
     }

     .addtocartbtn {
         font-size: 3vw;
     }

     #footer {
         margin-top: 0;
         /* Remove the negative margin */
         position: relative;
         /* Ensure the footer is relative to other content */
         padding-bottom: 10vh;
         /* Add padding to ensure content pushes the footer down */
     }

     .foot p {
         font-size: 5vw;
     }

     .icon-item i {
         font-size: 4vw;
     }

     .icon-item p {
         font-size: 2vw;
     }

     .footer-content p {
         padding-top: 4vh;
         font-size: 3vw;
     }

     .footer-content a {
         font-size: 2.5vw;
     }

     .sub p {
         padding-left: 6vw;
     }

     .input-container input {
         font-size: 3vw;
         width: 25vw;
     }

     .input-container button i {
         position: relative;
         left: 7vw;
         top: 0.8vh;
         font-size: 3vw;
     }

     h6 {
         display: none;
     }

     #footer2 {
         height: auto;
     }

     .for-social {
         padding-top: 5%;
     }

     .arrow-up {
         font-size: 3vw;
         padding: 2%;
     }

     .social-icons i {
         width: 6vw;
         height: 5vw;
         padding: 1vw;
         font-size: 4vw;
         color: white;
         border-radius: 50%;
         justify-content: center;
         display: flex;
         align-items: center;
     }

     .copyright {
         font-size: 2.5vw;
     }

     .nav-items {
         position: fixed;
         top: 6%;
         right: -100%;
         height: 100vh;
         width: 80%;
         background-color: rgba(0, 0, 0, 0.8);
         backdrop-filter: blur(10px);
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         transition: right 0.3s ease-in-out;
     }

     .nav-items ul {
         flex-direction: column;
         gap: 2rem;
     }

     #burger-menu {
         position: relative;
         left: 50vw;
         display: flex;

     }

     #navbar.active .nav-items {
         right: 0;
     }
 }

 @media screen and (max-width: 600px) {
     .slideshow-container {
         height: 100%;
         padding-top: 5%;
     }

     .mySlides img {
         height: 35vh;
     }
 }