* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#container {
    display: flex;
    flex-direction: column;
}

#main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    width: 100%;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 10vh;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;

}

.logo {
    font-family: "Whisper", cursive;
    color: white;
    font-size: 2.5vw;
    align-items: center;
    text-wrap: nowrap;
}

.logo a {
    text-decoration: none;
    color: white;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items ul {
    display: flex;
    list-style: none;
    font-size: 1.2vw;
    gap: 5vw;
}

.nav-items a {
    font-size: 1.5vw;
    color: white;
    padding-bottom: 5px;
    text-decoration: none;
    /* font-family: "Whisper", cursive; */
}

.nav-items a:hover {
    border-bottom: 1px solid white;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 3vw;
    padding-right: 5%;
}

.navbar-icons a {
    color: white;
    text-decoration: none;
    font-size: 1.2vw;

    position: relative;
    /* Make the cart icon a positioning context for the count */
}

#cart-count {
    position: absolute;
    top: -30%;
    right: -1.2vw;
    /* Adjust color as needed */
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 1.2vw;
    font-weight: bold;
    /* Adjust position to align correctly with the cart icon */
}

#cart-sidebar {
    position: fixed;
    top: 0;
    right: -50%;
    width: 40%;
    height: 90%;
    background-color: white;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    padding: 2vw;
}

#cart-sidebar.active {
    right: 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1vw;
    border-bottom: 1px solid #ccc;
}

.cart-header h2 {
    font-size: 2vw;
}

#close-cart {
    font-size: 2vw;
    cursor: pointer;
}

.cart-items {
    margin-top: 2vw;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
}

.cart-item img {
    margin-right: 1vw;
}


#cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70%;
}

#cart-total h3 {
    text-align: center;
    /* Center the text inside the h3 element */
}

.dltitem {
    font-size: 1vw;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}



#services {
    display: flex;
    align-items: center;
    padding: 15vh 0;
}

.icons i {
    font-size: 2vw;
    padding-left: 10vw;
}

.icons i p {
    padding-left: 3vw;
    font-size: 1vw;
}

#exclusive {
    text-align: center;
}

#exclusive h4 {
    font-size: 2vw;
    padding-bottom: 2%;
}

.exp {
    display: flex;
    justify-content: space-around;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.product img {
    width: 15vw;
    height: 18vw;
}

.product h4 {
    padding: 2vw;
    font-size: 1.2vw !important;
}

#products h4 {
    font-size: 2vw;
    padding-top: 5vh;
    text-align: center;
}

#all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.addtocartbtn {
    cursor: pointer;
    background-color: #000000;
    color: white;
    padding: 0.5vw;
    font-size: 1vw;
    margin-bottom: 1vw;
}

.product-image img {
    height: 20%;
}

.product-items {
    flex-basis: 31%;
    margin-bottom: 5%;
    border: 1px solid black;
    text-align: center;
    transition: all 0.5s;
}

.product-items:hover {
    background-color: #808080;
}

.product-items img {
    padding: 1vw;
    width: 50%;
    height: 20vh;

}

.product-items p,
.product-items h2 {
    padding: 0.2vw;
    font-size: 1.2vw;
}

#footer {
    background-color: #222222;
    width: 100%;
    height: 70vh;
    text-align: center;
    color: white;
}

.foot p {
    font-family: "Whisper", cursive;
    font-size: 2vw;
    padding: 5vh;
}

.icons2 {
    display: flex;
    justify-content: center;
    gap: 20%;
    padding-top: 2vw;
}

.icons2 i {
    font-size: 2vw;
    border: 7px solid orange;
    border-radius: 50%;
    padding: 10px;
    background-color: orange;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icons2 p {
    padding: 1vw;
    color: white;
    font-size: 1vw;
}

.footer-content {
    display: flex;
    gap: 20%;
    justify-content: left;
    padding-left: 10%;

}

.ul {
    font-size: 1.2vw;
    list-style: none;
    color: #ccc;
    padding-bottom: 10%;

}

.footer-content li {
    list-style: none;
    font-size: 1vw;
    cursor: pointer;
    color: grey;

}

.sub p {
    font-size: 1.2vw;
    padding-bottom: 10%;
}

.input-container {
    position: relative;
    width: 18vw;
    /* Adjust the width as needed */
}

.input-container input {
    width: 100%;
    padding-right: 3vw;
    /* Adjust padding to ensure space for the button */
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-size: 1vw;
    box-sizing: border-box;
    /* Ensures padding is included in the width */
}

.input-container button {
    position: absolute;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
    /* Centers the button vertically */
    background: none;
    border: none;
    padding: 0 10px;
    cursor: pointer;
}

.input-container button i {
    font-size: 1.2vw;
    padding-top: 2vh;
    /* Adjust size as needed */
    color: black;
}

.input-container p {
    padding: 1vw;
    font-size: 0.8vw;
}

.for-social {
    width: 100%;
    height: 12vh;
    background-color: #262726;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2%;
    flex-grow: 1;
    padding-left: 6%;
}

.social-icons i {

    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
    padding: 1vw;
    background-color: #262726;
}

.arrow-right {
    position: relative;
    left: -50%;
    cursor: pointer;
    font-size: 1.2vw;
    color: white;
    border-radius: 50%;
    border: 2px solid orange;
    padding: 1vw;
    background-color: orange;
}

.copyright {
    background-color: #262726;
    color: #808080;
    font-size: 0.9vw;
    padding-bottom: 1vw;
    justify-content: center;
}


/* Single Product */
.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Aligns items at the start of the container */
    cursor: pointer;
    flex-direction: column;
}

.product-details img {
    width: 40%;
    transform: scale(0.5);

}

.product-details h2 {
    font-size: 1.5vw;
    padding-bottom: 2%;

}

.product-details p {
    padding: 0 5vw;
    font-size: 1.2vw;
    padding-bottom: 1vw;
}

.product-details button {
    /*45  */
    position: relative;
    top: 0;
    left: 0;
    font-size: 1.5vw;
}


#cart-total h3 {
    font-size: 2vw;
}




/* Carousel */
.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: 90vh;
    vertical-align: middle;
}

.slideshow-container {
    /* max-width: 100%; */
    height: 80vh;
    position: relative;
}