@media screen and (max-width: 600px) {

    .search {
        display: none;
    }

    .Outernav {
        display: none;
    }

    .dropdown-btn {
        display: none;
    }

    .logo a {
        font-size: 6vw;
    }

    .navbar-icons a {
        position: relative;
        left: -40%;
        font-size: 5vw;
        padding: 2vw;
    }

    .nav-items {
        position: fixed;
        top: 6%;
        right: -100%;
        height: 100vh;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.3s ease-in-out;

    }

    .nav-items ul li a {
        gap: 5%;
        font-size: 5vw;
        /* Larger font size for smaller screens */
    }

    .nav-items ul li {
        margin-bottom: 5vh;
    }

    #cart-count {
        position: relative;
        top: -2vh;
        left: 1vw;
    }

    #burger-menu {
        position: relative;
        left: 45vw;
        display: flex;

    }

    #navbar.active .nav-items {
        right: 0;
    }

    /* About  */
    
    .about {
        margin-top: 20%;

    }


    .about h1 {
        text-align: center;
        font-size: 3vw;

    }

    .about h2 {
        font-size: 5vw;
        padding-bottom: 5%;
    }

    #footer {
        margin-top: 10%;
        /* Remove the negative margin */
        position: relative;
        /* Ensure the footer is relative to other content */
        padding-bottom: 10vh;
        /* Add padding to ensure content pushes the footer down */
    }

    .foot p {
        font-size: 5vw;
    }

    .icon-item i {
        font-size: 4vw;
    }

    .icon-item p {
        font-size: 2vw;
    }

    .footer-content p {
        padding-top: 4vh;
        font-size: 3vw;
    }

    .footer-content a {
        font-size: 2.5vw;
    }

    .sub p {
        padding-left: 6vw;
    }

    .input-container input {
        font-size: 3vw;
        width: 25vw;
    }

    .input-container button i {
        display: none;
    }

    .input-container .sub {
        display: block;
        position: relative;
        top: 2.5vh;
        left: 4vw;
        border: 2px solid white;
        color: white;

    }

    h6 {
        display: none;
    }

    #footer2 {
        height: auto;
    }

    .for-social {
        padding-top: 5%;
    }

    .arrow-up {
        font-size: 3vw;
        padding: 2%;
    }

    .social-icons a {
        text-decoration: none;
    }

    .social-icons i {
        width: 6vw;
        height: 4vh;
        padding: 1vw;
        font-size: 4vw;
        color: white;
        border-radius: 50%;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .copyright {
        font-size: 2.5vw;
    }

}