* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 999;
}

/* Navbar  */
.nav-items {
    display: none;
}

/* Show dropdown when toggled */
.nav-items.show {
    display: block;
}

.logo {
    font-family: "Whisper", cursive;
    color: white;
    font-size: 2.2vw;
}

.logo a {
    text-decoration: none;
    color: white;
}

#burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

#burger-menu div {
    width: 100%;
    height: 3px;
    background-color: white;
}


/* Basic styling for the navbar */
#navbar {
    position: relative;
    left: 9%;
}

.dropdown-btn {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.4vw;
}

.dropdown-content {
    display: none;
    /* Initially hide the dropdown */
    position: absolute;
    background-color: #000;
    width: 100%;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content ul li a {
    text-align: center;
    display: block;
    font-size: 1.4vw;
    color: white;
    padding: 1vw;
    text-decoration: none;

}

.dropdown-content ul li a:hover {
    background-color: #444;
    /* Adds a hover effect for dropdown items */
}

.hide-dropdown {
    display: none;
}

.nav-items.show {
    display: block;
}

.Outernav {
    position: relative;
    left: 4%;
}

.Outernav ul {
    display: flex;
    list-style: none;
    gap: 1vw;
    flex-wrap: nowrap;
}

.Outernav a {
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.navbar-icons a {
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
}

.search {
    display: flex;
    position: relative;
    left: 10%;
}

.search button {
    position: relative;
    left: -4%;
    width: 2vw;
    font-size: 1.2vw;
    color: black;
    background-color: white;
    border: none;

}

.search input {
    padding-left: 2%;
    font-size: 1.2vw;
    width: 30vw;
    height: 5vh;
    border: none;
    outline: none;
}


#user-link-navbar {
    color: white;
    font-size: 1.4vw;
    margin-top: 0.3%;
}

#logout-btn-navbar {
    cursor: pointer;
    font-size: 1.4vw;
}

/* About */

.about {
    margin-top: 7vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about h1 {
    text-align: center;
    padding: 2%;
    font-size: 2vw;
}

.about h2 {
    font-size: 2.5vw;
}


/* Footer */

#footer {
    background-color: #222222;
    width: 100%;
    height: 40%;
    /* Set the desired height */
    display: flex;
    /* Flexbox helps manage child elements */
    flex-direction: column;

}

.foot p {
    color: white;
    text-align: center;
    font-family: "Whisper", cursive;
    font-size: 2vw;
    padding: 2vh;
}

.icons2 {
    display: flex;
    justify-content: center;
    gap: 15%;
    padding-top: 2vw;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icons2 i {
    font-size: 2vw;
    border: 7px solid orange;
    border-radius: 50%;
    padding: 10px;
    background-color: orange;
}

.icons2 p {
    padding: 1vw;
    color: white;
    font-size: 1vw;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    gap: 5vw;
}

.ul {

    font-size: 1.2vw;
    color: #ccc;
    padding-bottom: 1vw;
}

.footer-content li {
    text-decoration: none;
    list-style: none;
}

.footer-content a {
    color: #808080;
    text-decoration: none;
    list-style: none;
    font-size: 1vw;
    cursor: pointer;
}

.sub p {
    color: white;
    font-size: 1.2vw;
    padding-bottom: 2vw;
    text-align: center;
}


.input-container {
    position: relative;
    width: 18vw;
    /* Adjust the width as needed */
}

.input-container input {
    width: 100%;
    padding-right: 3vw;
    /* Ensure enough padding on the right for the button */
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-size: 1vw;
    box-sizing: border-box;
}

.input-container button {
    position: absolute;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0 1vw;
    cursor: pointer;
}

.input-container button i {
    font-size: 1.2vw;
    color: black;
    padding-top: 1.2vh;
}

.input-container .sub {
    display: none;
}

h6 {
    color: white;
    text-align: center;
    font-size: 0.8vw;
    padding-top: 1.2vh;
    padding-bottom: 4vh;
}

#footer2 {
    background-color: #262726;
    height: 15vh;
}

.for-social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 5%;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.social-icons a {
    text-decoration: none;
}

.social-icons i {
    color: white;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
    padding: 1vw;
    background-color: #262726;
}

.arrow-up {
    position: absolute;
    right: 5%;
    cursor: pointer;
    font-size: 1vw;
    padding: 0.8vw;
    color: white;
    border-radius: 50%;
    border: 2px solid orange;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

.copyright {
    color: #808080;
    font-size: 0.9vw;
    padding: 1vw;
    text-align: center;
}